/*Lock body scrolling while Modal is active?*/
body.ctools-modal-active {
  height:100%;
  overflow:hidden;
}

/*Modal Popup*/
#pbs-schedule-program-detail ::-webkit-scrollbar {
  width: 10px;
}

#pbs-schedule-program-detail ::-webkit-scrollbar-thumb {
  background-color: #DDD;
} 

#pbs-schedule-program-detail .modal-header {
  background-color: #777;
}

#pbs-schedule-program-detail #modal-title {
  white-space: normal; /*Allows line break on smaller screens*/
}

#pbs-schedule-program-detail .pbs-schedule-detail-wrapper {
  background-color: #EEE;
  padding: 5px;
  border: 1px solid #DDD;
}

#pbs-schedule-program-detail .modal-content {
  -webkit-overflow-scrolling: touch;
}

#pbs-schedule-program-detail .pbs-schedule-detail-wrapper h5 {
  margin-bottom: 0;
}

#pbs-schedule-program-detail .pbs-schedule-detail-wrapper h6 {
  margin-bottom: 5px;
}

#pbs-schedule-program-detail .pbs-schedule-detail-pg-description {
  font-size: 90%;
  margin-top: 10px;
}

#pbs-schedule-program-detail .pbs-schedule-detail-upcoming {
  margin-top: 1em;
}


#pbs-schedule-program-detail .pbs-schedule-detail-wrapper ul {
  list-style:none;
}

/*On Tonight Listings Block*/
#block-pbs-schedule-on-tonight ul {
  margin: 0;
}

#block-pbs-schedule-on-tonight ul li {
  list-style: none;
}

#block-pbs-schedule-on-tonight .listing-time {
  font-weight: bold;
}

#block-pbs-schedule-on-tonight .pbs-schedule-on-tonight-channel {
  cursor: pointer;
  font-weight: bold;
  background: #efefef;
  padding: 2px 2px 2px 5px;
  margin: 5px 0;
}

