#tv-schedule {
  width: 850px;
  height: 460px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0 0 35px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#tv-schedule-scroll-container {
  margin-left: 130px;
  width: 738px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

div.listings-wrapper {
  white-space: nowrap;
}

ul.times, ul.listings {
  display: inline-block;
  white-space:nowrap;
  padding:0;
  margin: 5px 0;
  margin-left: -5px;
  font-size: 0; /*Fix for extra spacing with inline-block elements*/
}

ul.times li, ul.listings li {
  background: rgb(226,226,226);
  border-radius: 1px;
  font-size: 13px;
  height: 100%;
  display: inline-block;
  padding: 5px;
  margin: 5px 5px;
  vertical-align:top;
  width: 130px;
  zoom: 1;
  *display: inline; /*ie*/
}

ul.listings li a, ul.listings-vertical li a {
  color: #000;
}

ul.listings li span .pbs-listing-grid-subtitle {
  font-style: italic;
  font-size: 90%;
}

ul.times-vertical, ul.listings-vertical {
  margin: 0;
}

ul.times-vertical li, ul.listings-vertical li {
  background: rgb(226,226,226);
}

ul.times #start-time-2330, ul.listings li.last {
  margin-right: 0;
  padding-right: 0;
}

ul.times-vertical, ul.listings-vertical {
  display: block;
  float:left;
  height: 7944px;
  overflow: hidden;
}
ul.times-vertical li, ul.listings-vertical li {
  display: block;
  padding: 5px;
  margin: 5px 2px;
  width: 100px;
  height: 150px;
}

ul.times-vertical li {
  width: 75px;
}

ul.times-vertical h3, ul.listings-vertical h3 {
  text-align: center;
  font-size: 1.2em;
  margin:0;
}

ul.times-vertical h3 {
  visibility: hidden;
}

ul.listings li.last span {
  padding-right: 2px;
}

ul.times {
  font-weight: bold;
  height: 20px;
}

ul.listings {
  height: 75px;
}
ul.listings li, ul.listings-vertical li {
  overflow: hidden;
}
ul.listings li span, ul.listings-vertical li {
  font-size: 1.1em;
  white-space: normal;
}

#date-time-options, #station-list {
  position:absolute;
}
#date-time-options {
  top: 5px;
  left: 155px;
}

#controls {
  height: 20px;
}

#controls a {
  display: block;
  height: 30px;
  width: 30px;
  text-align:center;
  background: #444;
  position: absolute;
  top: 5px;
  text-decoration: none;
  color: white;
  font-size:1.3em;
}
#controls a.prev {
  left: 5px;
}
#controls a.next {
  right: 5px;
}

#station-list {
  top: 120px;
  left: 15px;
  text-align:center;
}

#station-list h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  height: 85px;
  padding: 0 5px;
  width: 100px; 
  font-size: 1.2em;
  margin:0;
}